
.error {
    // padding-top: 10px;
    
    font-size: 0.9em;
    height: 24px;

    &--hidden {
            visibility: hidden;
    }

    &--green {
        color: green;
    }

    &--red {
        color: #d50000;
    }
}
