$bodyColor: #e4e9f7;
$sidebarColor: #fff;
$primaryColor: #695cfe;
$primaryColorLight: #f6f5ff;
$toggleColor: #ddd;
$textColor: #707070;

$transition02: all 0.2s ease;
$transition03: all 0.3s ease;
$transition04: all 0.4s ease;
$transition05: all 0.5s ease;

$bodyColorDark: #18191a;
$sidebarColorDark: #242526;
$primaryColorDark: #3a3b3c;
$primaryColorLightDark: #3a3b3c;
$toggleColorDark: #fffffffb;
$textColorDark: #ccc;

$inputBorderColor: #ccc;

$pickedcolor: #F5F7F9;
$bgColor: #F5F7F9;
$buttonorange: #FF7143;
$blackText: #1F2228;
$greyText: #DBDBDB;
$greyTextBg: #EAEEF6;


$inputErrorBackground: #fff8f8;
$inputErrorBorderColor: #d50000;
$inputErrorFontColor: #d50000;
$inputErrorPlaceholderFontColor: #e47373;