$bodyColor: #e4e9f7;
$sidebarColor: #fff;
$primaryColor: #695cfe;
$primaryColorLight: #f6f5ff;
$toggleColor: #ddd;
$textColor: #707070;

$transition02: all 0.2s ease;
$transition03: all 0.3s ease;
$transition04: all 0.4s ease;
$transition05: all 0.5s ease;

$bodyColorDark: #18191a;
$sidebarColorDark: #242526;
$primaryColorDark: #3a3b3c;
$primaryColorLightDark: #3a3b3c;
$toggleColorDark: #fff;
$textColorDark: #ccc;

// Si


.sidebar {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        padding: 10px 14px;
        background-color: $sidebarColor; //$sidebarColor
        transition: $transition05;
        z-index: 100;
        display: flex;
        flex-direction: column;


        &--dark {
                // background-color: $sidebarColorDark;
                // $sidebarColor: $sidebarColorDark;

                position: fixed;
                box-sizing: border-box;
                top: 0;
                left: 0;
                height: 100vh;
                width: 250px;
                padding: 10px 14px;
                background-color: $sidebarColor; //$sidebarColor
                transition: $transition05;
                z-index: 100;
                display: flex;
                flex-direction: column;
        }

        .toggle {
                position: absolute;
                top: 4%;
                right: -15px;
                transform: translateY(-50%) rotate(180deg);
                height: 28px;
                width: 28px;
                background-color: $primaryColor; //
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: $sidebarColor;
                font-size: 22px;
                transition: transform $transition05;
                cursor: pointer;

                &--rotate {
                        transform: translateY(-50%);
                }

                &--dark {
                        background-color: $primaryColorDark;
                        color: $sidebarColorDark;
                }
        }

        &--close {
                width: 88px;
                transition: $transition05;

                .header__text {
                        opacity: 0;
                        z-index: -1;
                }

                .link__text {
                        position: relative;
                        z-index: -1;
                        opacity: 0;
                }
        }
}

.header {
        position: relative;

        &__content {
                display: flex;
                align-items: center;
        }

        &__logo {
                min-width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                &__image {
                        width: 40px;
                        border-radius: 6px;
                }
        }

        &__text {
                position: relative;
                font-weight: 500;
                font-size: 1rem;
                color: $textColor;
                transition: $transition03;
                white-space: nowrap;
                opacity: 1;
                display: flex;
                flex-direction: column;

                &__heading1 {
                        font-weight: 600;
                }

                &__heading2 {
                        margin-top: -2px;
                }
        }
}

.menu {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
}

.nav {
        &__items {
                overflow: hidden;
        }

        &__item {
                height: 50px;
                margin-top: 10px;
                list-style: none;
                display: flex;
                align-items: center;

                .link {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        border-radius: 6px;
                        transition: $transition03;
                        color: $textColor;

                        &--dark {
                                color: $textColor;
                        }

                        &:hover {
                                background-color: $primaryColor;
                                color: $sidebarColor;
                        }

                        &__text {
                                color: inherit;
                                font-weight: 500;
                                font-size: 1rem;
                                white-space: nowrap;
                        }

                        .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 60px;
                                font-size: 20px;
                                font-weight: 400;
                                color: inherit;
                        }
                }
        }
}

.bottom {
        &__content {
                list-style: none;
                color: $textColor;
        }
}

.mode {
        position: relative;
        border-radius: 6px;
        background-color: $primaryColorLight;
        color: $textColor;
        display: flex;
        align-items: center;

        .moon-sun {
                height: 50px;
                width: 60px;
                display: flex;
                align-items: center;
                transition: $transition03;

                &--hide {
                        opacity: 0;
                        visibility: hidden;
                }
        }

        .icon-mode {
                position: absolute;
                transition: $transition03;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 60px;
                font-size: 20px;
                font-weight: 400;
                color: inherit;
        }

        .sun {
                opacity: 0;
        }

        .moon {
                opacity: 0;
        }

        &__text {
                font-size: 1rem;
                font-weight: 500;
                white-space: nowrap;
                color: inherit;

                &--hide {
                        opacity: 0;
                        transition: $transition03;
                }
        }
}

.toggle-switch {
        $this: &;

        transition: $transition05;
        position: absolute;
        right: 0;

        &--left {
                transition: $transition05;
                position: absolute;
        }

        &__checkbox {
                display: none;

                &:checked+#{$this}__button {
                        &:before {
                                left: 24px;
                        }
                }
        }

        &__label {
                display: block;
                overflow: hidden;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
        }

        &__button {
                position: relative;
                display: block;
                height: 22px;
                width: 44px;
                border-radius: 25px;
                background-color: $toggleColor;
                transition: $transition05;

                &:before {
                        content: "";
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                        background-color: $sidebarColor;
                        transition: $transition03;
                }
        }
}

/// main layout

.home {
        position: relative;
        left: 250px;
        height: 100vh;
        top: 0;
        width: calc(100% - 250px);
        background-color: red;
        transition: $transition05;

        &--close {
                left: 78px;
                height: 100vh;
                width: calc(100% - 78px);
        }
}

.home .text {
        font-size: 30px;
        font-weight: 500;
        color: var(--text-color);
        padding: 12px 60px;
}

body.dark .home .text {
        color: $textColor;
}