@use '../../../styles/colors' as *;

.field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 35rem;

        &__label {
                font-weight: 600;
                padding: 10px 0;
        }

        &__input {
                width: 100%;
                box-sizing: border-box;
                padding: 0.8em;
                font-size: 0.9em;
                outline: none;
                border: 1px solid #dddddd;
                border-radius: 4px;
                background-color: #f9f9f9;
                transition: background-color 0.25s, border-color 0.25s, color 0.25s;

                &:focus {
                        background: #ffffff;
                        outline: auto;
                        outline-color: #f7f4f4;
                }

                &::placeholder {
                        color: #bbbbbb;
                }

                &--error {
                        box-shadow: 0 0 4px 0 $inputErrorBorderColor;
                        color: $inputErrorFontColor;
                        background-color: $inputErrorBackground;
                        border-color: $inputErrorBorderColor;

                        &::placeholder {
                                color: $inputErrorPlaceholderFontColor;
                        }
                }
        }


}