$inputBorderColor: #ccc;

.form-container {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 100%;
        min-height: 100%;
}

.form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        border: 1px solid $inputBorderColor;
        border-radius: 8px;
        max-width: 680px;
        margin: auto auto;
        padding: 1rem;

        &__field {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                max-width: 35rem;
        }

        &__label {
                font-weight: 600;
                padding: 10px 0;
        }

        &__input {
                width: 100%;
                box-sizing: border-box;
                padding: 0.8em;
                font-size: 0.9em;
                outline: none;
                border: 1px solid #dddddd;
                border-radius: 4px;
                background-color: #f9f9f9;
                transition: background-color 0.25s, border-color 0.25s, color 0.25s;

                &:focus {
                        background: #ffffff;
                        outline: auto;
                        outline-color: #f7f4f4;
                }

                &::placeholder {
                        color: #bbbbbb;
                }
        }

        &__error {
                // padding-top: 10px;
                color: #d50000;
                font-size: 0.9em;
                &--hidden {
                        visibility: hidden;
                }
        }
}
